.meet {
    background-image: linear-gradient(to bottom, rgba(71, 68, 68, 0.7), rgba(49, 71, 71, 0.964)), url(https://i.ibb.co/3cK79n6/meet2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
    width: 100%;
}

.form{

}
